boto==2.49.0
boto3==1.7.58
botocore==1.10.58
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
click==6.7
docutils==0.14
Flask==1.0.2
gensim==3.5.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.22.0
pandas==0.23.3
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.6.0
tqdm==4.23.4
urllib3==1.24.2
Werkzeug==0.15.3
